// =============================================================================
// Columns
// =============================================================================

.Columns {
  // Box Model
  min-width: 720px;

  // Visual
  border: 1px solid $outline;
}

// -----------------------------------------------------------------------------
// Columns: individual column
// -----------------------------------------------------------------------------

.Columns-column {
  // Box Model
  width: calc(100% / 4);
  min-width: 175px;
  height: 100%;

  // Visual
  border-right: 1px solid $outline;
}

.Columns-column:nth-last-child(1) {
  // Visual
  border-right: 0;
}
