// =============================================================================
// User Settings Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

$usersettings-contentbtn-width: 52px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

$usersettings-contentbtn-fontsize: $adminbox-contentbtn-fontsize;
$usersettings-content-margin-right: $adminbox-content-margin-right;
