// =============================================================================
// User
// =============================================================================

// -----------------------------------------------------------------------------
// User: button
// -----------------------------------------------------------------------------

.User-btn {
  // Box Model
  width: $appheader-height - $appheader-pad-top - $appheader-pad-top;
  height: $appheader-height - $appheader-pad-top - $appheader-pad-top;

  // Typography
  font-size: 13px;
}

// -----------------------------------------------------------------------------
// User: item
// -----------------------------------------------------------------------------

.User-item {
  // Positioning
  position: relative;

  // Visual
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

// -----------------------------------------------------------------------------
// User: item -- last
// -----------------------------------------------------------------------------

.User-item--last {
  border-bottom: 0;
}

// -----------------------------------------------------------------------------
// User: Dropdown Menu
// -----------------------------------------------------------------------------

.User-menu {
  // Dropdown menu - hidden
  // ---------------------------------------------------------------------------

  &[aria-hidden="true"] {
    display: none;
  }

  // Dropdown menu - not hidden
  // ---------------------------------------------------------------------------

  &[aria-hidden="false"] {
    display: block;
  }
}
