// =============================================================================
// User Settings
// =============================================================================

// -----------------------------------------------------------------------------
// User Settings: content
// -----------------------------------------------------------------------------

.UserSettings-content {
  width: calc(
    100% - #{$usersettings-contentbtn-width} - #{$usersettings-content-margin-right}
  );
  margin-right: $usersettings-content-margin-right;
}

// -----------------------------------------------------------------------------
// User Settings: content button
// -----------------------------------------------------------------------------

.UserSettings-contentBtn {
  font-size: $usersettings-contentbtn-fontsize;
}
