// =============================================================================
// Column Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

$column-btn-vertbar-height: 1.1rem;
$column-btn-horzbar-width: 1.1rem;
$column-btn-mult: 0.25;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

$column-btn-vertbar-width: $column-btn-vertbar-height * $column-btn-mult;
$column-btn-horzbar-height: $column-btn-horzbar-width * $column-btn-mult;
$column-header-height: $column-btn-vertbar-height + 1.2rem;
