// =============================================================================
// Column
// =============================================================================

// -----------------------------------------------------------------------------
// Column: button
// -----------------------------------------------------------------------------

.Column-btn {
  // Positioning
  position: relative;

  // Box Model
  width: $column-btn-horzbar-width;
  height: $column-btn-vertbar-height;

  // Column button: vertical bar of plus sign
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: 0;
    left: 50%;

    // Box Model
    width: $column-btn-vertbar-width;
    height: $column-btn-vertbar-height;

    // Visual
    background-color: $primary;
    content: "";

    // Misc
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  // Column button: horizontal bar of plus sign
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: 50%;
    left: 0;

    // Box Model
    width: $column-btn-horzbar-width;
    height: $column-btn-horzbar-height;

    // Visual
    background-color: $primary;
    content: "";

    // Misc
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

// -----------------------------------------------------------------------------
// Column: cards
// -----------------------------------------------------------------------------

.Column-cards {
  // Box Model
  height: calc(100% - #{$column-header-height});
  overflow: auto;
}

// -----------------------------------------------------------------------------
// Column: header
// -----------------------------------------------------------------------------

.Column-header {
  // Box Model
  height: $column-header-height;
  overflow: hidden;

  // Visual
  border-bottom: 1px solid $outline;
}

// -----------------------------------------------------------------------------
// Column: title
// -----------------------------------------------------------------------------

.Column-title {
  // Box Model
  margin-bottom: 0;

  // Typography
  font-size: 1rem;
  line-height: 1.1;
}
