// =============================================================================
// Admin Box
// =============================================================================

.AdminBox {
  // Box Model
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

// -----------------------------------------------------------------------------
// Admin Box: dialog popover
// -----------------------------------------------------------------------------

.AdminBox-dialogPopover {
  // Positioning
  position: absolute;
  top: ($appheader-height * 2);
  left: 50%;

  // Box Model
  width: auto;
  min-width: 280px;

  // Visual
  background-color: $white;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);

  @media screen and (min-width: 575px) {
    width: 400px;
  }

  @media screen and (min-width: 768px) {
    width: 500px;
  }
}

// -----------------------------------------------------------------------------
// Admin Box: dialog popover - centered
// -----------------------------------------------------------------------------

.AdminBox-dialogPopover--center {
  // Positioning
  top: 35%;

  // Visual
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

  @media screen and (max-height: 500px) and (orientation: landscape) {
    top: 50%;
  }
}

// -----------------------------------------------------------------------------
// Admin Box: popover background
// -----------------------------------------------------------------------------

.AdminBox-dialogPopoverBg {
  // Positioning
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  // Visual
  background-color: rgba(0, 0, 0, 0.6);
}

// -----------------------------------------------------------------------------
// Admin Box: popover button
// -----------------------------------------------------------------------------

.AdminBox-dialogPopoverBtn {
  // Visual
  background-color: $primary;
  opacity: 1;

  // Popover button - disabled
  // ---------------------------------------------------------------------------

  &[disabled] {
    // Visual
    background-color: #6c757d;
    opacity: 0.65;
  }
}

// -----------------------------------------------------------------------------
// Admin Box: headline
// -----------------------------------------------------------------------------

.AdminBox-headline {
  font-size: 16px;
}

// -----------------------------------------------------------------------------
// Admin Box: title
// -----------------------------------------------------------------------------

.AdminBox-title {
  font-size: 19px;
}
