// =============================================================================
// App Colors
// =============================================================================

$primary: rgb(27, 173, 134);
$secondary: rgb(7, 54, 42);
$dark: rgb(37, 73, 137);
// $light: rgb(255, 229, 147);
$outline: rgba(0, 0, 0, 0.4);
$offwhite: #f2f2f2;
$light: rgb(195, 246, 232);
