// =============================================================================
// App Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Font families
$sans-serif: "Fira Sans", Tahoma, Geneva, sans-serif;
$serif: "Taviraj", Georgia, serif;
$sans-serif-alt: "Lato", Verdana, Geneva, sans-serif;

// Font weights
$light: 300;
$normal: 400;
$bold: 600;
