// =============================================================================
// App
// =============================================================================

// -----------------------------------------------------------------------------
// App: main
// -----------------------------------------------------------------------------

.AppMain {
  // Box Model
  height: calc(100vh - #{$appheader-height} - #{$appheader-height});
  overflow: auto;

  // Visual
  background-color: $offwhite;
}
