// =============================================================================
// App Link
// =============================================================================

.appLink {
  // Typography
  color: rgb(0, 0, 0);

  // User link :: hover
  // ---------------------------------------------------------------------------
  &:hover {
    // Typography
    color: rgba(27, 173, 134, 0.6);
    text-decoration: none;
  }

  // User link :: active
  // ---------------------------------------------------------------------------

  &:active {
    color: rgba(27, 173, 134, 1);
  }
}
