// =============================================================================
// App Logo Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Header: title
$applogotitle-size: 19px;
$applogotitle-width: 118px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Header image: width
$applogoimg-width: $applogotitle-size;

// Header image: height
$applogoimg-height: $applogoimg-width;

// Header logo: height
$applogo-pad-vert: (
  (
      $appheader-height - $applogoimg-height - $appheader-pad-bot -
        $appheader-pad-top
    ) / 2
);
