// =============================================================================
// App Logo
// =============================================================================

.AppLogo {
  // Box Model
  width: $applogotitle-width;
  padding: $applogo-pad-vert 25px;
  margin: 0 auto;

  @media screen and (min-width: 575px) {
    // Box Model
    width: $applogoimg-width + $applogotitle-width + 3px;
    padding-left: 0;
    padding-right: 0;
  }
}

// -----------------------------------------------------------------------------
// AppLogo: image
// -----------------------------------------------------------------------------

.AppLogo-img {
  // Box Model
  width: $applogoimg-width;
  height: $applogoimg-height;
}

// -----------------------------------------------------------------------------
// AppLogo: title
// -----------------------------------------------------------------------------

.AppLogo-title {
  // Typography
  font-family: $sans-serif;
  font-size: $applogotitle-size;
  line-height: $applogotitle-size;
}
