// =============================================================================
// Card Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

$card-btn-vertbar-height: 1rem;
$card-btn-horzbar-width: 1rem;
$card-btn-mult: 0.15;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

$card-btn-vertbar-width: $card-btn-vertbar-height * $card-btn-mult;
$card-btn-horzbar-height: $card-btn-horzbar-width * $card-btn-mult;
