// =============================================================================
// Card
// =============================================================================

.Card {
  // Positioning
  position: relative;

  // Box Model
  padding-top: calc(#{$card-btn-vertbar-height} / 2);
  padding-right: calc(#{$card-btn-horzbar-width} + 0.2rem);
  padding-bottom: calc(#{$card-btn-vertbar-height} / 2);
  padding-left: $card-btn-horzbar-width;
}

// -----------------------------------------------------------------------------
// Card: button
// -----------------------------------------------------------------------------

.Card-btn {
  // Positioning
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;

  // Box Model
  width: $card-btn-horzbar-width;
  height: $card-btn-vertbar-height;

  // Card button: vertical bar of plus sign
  // ---------------------------------------------------------------------------

  &::before {
    // Positioning
    position: absolute;
    top: 0;
    left: calc(50% - (#{$card-btn-vertbar-width} / 2));

    // Box Model
    width: $card-btn-vertbar-width;
    height: $card-btn-vertbar-height;

    // Visual
    background-color: $dark;
    content: "";

    // Misc
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  // Card button: horizontal bar of plus sign
  // ---------------------------------------------------------------------------

  &::after {
    // Positioning
    position: absolute;
    top: calc(50% - (#{$card-btn-horzbar-height} / 2));
    left: 0;

    // Box Model
    width: $card-btn-horzbar-width;
    height: $card-btn-horzbar-height;

    // Visual
    background-color: $dark;
    content: "";

    // Misc
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

// -----------------------------------------------------------------------------
// Card: input
// -----------------------------------------------------------------------------

.Card-input {
  // Box Model
  width: 100%;
  height: 6rem;
}
