// =============================================================================
// Create Board Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

$createboard-contentbtn-width: 80px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

$createboard-contentbtn-fontsize: $adminbox-contentbtn-fontsize;
$createboard-content-margin-right: $adminbox-content-margin-right;
