// =============================================================================
// Create Board
// =============================================================================

// -----------------------------------------------------------------------------
// Admin Box: content
// -----------------------------------------------------------------------------

.CreateBoard-content {
  // Box Model
  width: calc(
    100% - #{$createboard-contentbtn-width} - #{$createboard-content-margin-right}
  );
  margin-right: $createboard-content-margin-right;
}

// -----------------------------------------------------------------------------
// Admin Box: content button
// -----------------------------------------------------------------------------

.CreateBoard-contentBtn {
  font-size: $createboard-contentbtn-fontsize;
}
