// =============================================================================
// Home
// =============================================================================

.Home {
  // Positioning
  position: relative;

  // Box Model
  padding-top: 26px;
  padding-right: 0;
  padding-left: 0;

  @media screen and (min-width: 768px) and (min-height: 500px) {
    // Positioning
    position: absolute;
    left: 0;

    // Box Model
    padding-right: 26px;
    padding-left: 26px;

    // Visual
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  @media screen and (min-width: 768px) and (min-height: 500px) and (orientation: portrait) {
    top: 35%;
  }

  @media screen and (min-width: 768px) and (min-height: 500px) and (orientation: landscape) {
    top: 45%;
  }

  @media screen and (min-width: 1020px) and (min-height: 500px) and (orientation: portrait) {
    top: 25%;
  }
}

// -----------------------------------------------------------------------------
// Home: card
// -----------------------------------------------------------------------------

.Home-card {
  // Box Model
  max-width: 300px;
  margin-right: auto;
  margin-bottom: 39px;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    // Box Model
    margin-right: 13px;
    margin-bottom: 0;
    margin-left: 13px;
  }

  @media screen and (min-width: 1020px) {
    // Box Model
    margin-right: auto;
    margin-left: auto;
  }
}

// -----------------------------------------------------------------------------
// Home: card text
// -----------------------------------------------------------------------------

.Home-cardText {
  // Box Model
  height: auto;

  // Typography
  font-size: 20px;

  @media screen and (min-width: 890px) and (max-width: 997px) {
    height: 90px;
  }
}

// -----------------------------------------------------------------------------
// Home: intro section
// -----------------------------------------------------------------------------

.Home-introSxn {
  // Box Model
  width: 85%;
  margin-right: auto;
  margin-left: auto;

  // Typography
  font-size: 23px;

  @media screen and (min-width: 768px) {
    width: 75%;
  }
}
