// =============================================================================
// Social Icon
// =============================================================================

.SocialIcon {
  /* Box Model */
  width: $appfooter-icon-height;
  height: $appfooter-icon-height;
}

.SocialIcon:hover {
  opacity: 0.4;
}

.SocialIcon:active {
  opacity: 0.8;
}

// -----------------------------------------------------------------------------
// SocialIcon: image
// -----------------------------------------------------------------------------

.SocialIcon-img {
  /* Box Model */
  width: $appfooter-icon-height;
  height: $appfooter-icon-height;
}
