// =============================================================================
// App Header Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Header: height
$appheader-height: 32px;

// Header: padding
$appheader-pad-top: 2px;
$appheader-pad-bot: $appheader-pad-top;
$appheader-pad-right: $appheader-pad-top * 8;
$appheader-pad-left: $appheader-pad-top * 8;
