// =============================================================================
// Boards
// =============================================================================

// -----------------------------------------------------------------------------
// Boards: Dropdown button
// -----------------------------------------------------------------------------

.Boards-dropdownBtn {
  // Dropdown button - pressed
  // ---------------------------------------------------------------------------

  &[aria-pressed="false"] {
    // Visual
    background-color: rgba(16, 110, 85, 0.6);

    // Dropdown button - pressed :: hover
    // -------------------------------------------------------------------------

    &:hover {
      background-color: rgba(16, 110, 85, 1);
    }
  }

  // Dropdown button - not pressed
  // ---------------------------------------------------------------------------

  &[aria-pressed="true"] {
    // Visual
    background-color: rgba(16, 110, 85, 1);

    // Dropdown button - not pressed :: hover
    // -------------------------------------------------------------------------

    &:hover {
      background-color: rgba(16, 110, 85, 1);
    }
  }
}

// -----------------------------------------------------------------------------
// Boards: Board item
// -----------------------------------------------------------------------------

.Boards-itemBoard {
  // Positioning
  position: relative;

  // Visual
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);

  // Board item - is the current board displayed
  // ---------------------------------------------------------------------------

  &[data-currboard="true"] {
    &::before {
      // Positioning
      position: absolute;
      top: 0;
      left: 0;

      // Box Model
      width: 5px;
      height: 100%;

      // Visual
      content: "";
      background-color: $primary;
    }
  }

  // Board item - not the current board displayed
  // ---------------------------------------------------------------------------

  &[data-currboard="false"] {
    &::before {
      background-color: transparent;
    }
  }
}

// -----------------------------------------------------------------------------
// Boards: item -- last
// -----------------------------------------------------------------------------

.Boards-itemBoard--last {
  border-bottom: 0;
}

// -----------------------------------------------------------------------------
// Boards: Board item button
// -----------------------------------------------------------------------------

.Boards-itemBoardBtn {
  // Positioning
  position: absolute;
  top: 0;
  right: 0;

  // Box Model
  display: block;
  width: 20px;
  height: 100%;

  // Typography
  font-size: 28px;
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

// -----------------------------------------------------------------------------
// Boards: Board item text
// -----------------------------------------------------------------------------

.Boards-itemBoardText {
  // Box Model
  display: inline-block;
  width: calc(100% - 6px);
  margin-right: 10px;
}

// -----------------------------------------------------------------------------
// Boards: Dropdown Menu
// -----------------------------------------------------------------------------

.Boards-menu {
  // Box Model
  max-width: 200px;
}
