// =============================================================================
// Auth
// =============================================================================

// -----------------------------------------------------------------------------
// Auth: card
// -----------------------------------------------------------------------------

.Auth-card {
  // Box Model
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

// -----------------------------------------------------------------------------
// Auth: label
// -----------------------------------------------------------------------------

.Auth-label {
  font-size: 16px;
}
