// =============================================================================
// App Footer Variables
// =============================================================================
// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Footer icon: height
$appfooter-icon-height: 18px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Footer: height
$appfooter-height: $appheader-height;
$appfooter-pad-top: (($appfooter-height - $appfooter-icon-height) / 2) - 1px;
$appfooter-pad-right: $appheader-pad-right;
$appfooter-pad-bot: (($appfooter-height - $appfooter-icon-height) / 2) - 1px;
$appfooter-pad-left: $appheader-pad-left;

// Footer icon: width
$appfooter-icon-width: $appfooter-icon-height;
