// =============================================================================
// App Footer
// =============================================================================

.AppFooter {
  // Box Model
  height: $appfooter-height;
  padding: $appfooter-pad-top $appfooter-pad-right $appfooter-pad-bot
    $appfooter-pad-left;
  overflow: hidden;
}

// -----------------------------------------------------------------------------
// AppFooter: text
// -----------------------------------------------------------------------------

.AppFooter-text {
  font-size: 0.85rem;
}
